/*----------------------------- Rectangle -----------------------------*/
&.ostk-rectangle {
  /* Default
  -----------------------------------*/
  .ostk-element-inner {
    &:hover {
      .element-overlay {
        .opacity(1);
      }
    }
  }/* .ostk-element-inner */

  /* Sales Events
  -----------------------------------*/
  &.sales-event {
    width: 300px;
    height: 250px;
    .ostk-element-inner {
      .ostk-element-header {
        border-bottom: 1px solid @grey-lt;
      }
      .ostk-element-content {
        .product-image {
          float: left;
          width: 110px;
          margin-top: 30px;
        }
        .product-info {
          float: right;
          width: 140px;
          margin-top: 10px;
          p {
            &.savings {
              margin-top: 15px;
            }
          }
        }
      }
    }/* .ostk-element-inner */
  }/* sales-event */

  &.flash-deals {
    .ostk-element-inner {
      .ostk-element-content {
        .product-image {
          margin: 0;
        }
        .product-info {
          width: 130px;
        }
      }
    }
  }
}/* .ostk-rectangle  */
