/*----------------------------- Skyscraper -----------------------------*/
&.ostk-skyscraper {
  width: 160px;
  height: 600px;

  /* Default
  -----------------------------------*/
  .ostk-element-inner {
    .item-holder {
      .ostk-element-content {
        height: 280px;
        p {
          text-align: center;
          &.title {
            .truncate;
          }
        }
        img {
          display: block;
          margin: 0 auto 10px auto;
          max-width: 100%;
        }
      }
      &.item-count-1 {
        .ostk-element-content {
          height: 555px;
        } 
      } 
    }
  }/* .ostk-element-inner */

  /* Sales Event
  -----------------------------------*/
  &.sales-event {
    .ostk-element-inner {
      .item-holder {
        .ostk-element-content {
          height: 235px;
          p {
            &.price {
              text-align: left;
            }
            &.dealEndTime {
              margin-bottom: 15px;
            }
          }
        }
        &.item-count-1 {
          .ostk-element-content {
            height: 480px;
          } 
        } 
      }
    }/* .ostk-element-inner */
  }/* sales-event */

}/* .ostk-skyscraper  */
