/* General
---------------------------------*/
body {
	margin: 0 auto 30px auto;
	display: block;
	max-width: 1024px;	
	padding: 10px;
}
h2 {
	margin: 10px 0;
}
h3 {
	margin: 10px 0;
	color: #666666;
}

/* Form
---------------------------------*/
form .ostk-form-content {
	display: none;
	padding: 20px;
	background: #eee;
	margin: 20px 0;	
}
form .ostk-form-content ul {
	margin-left: 40px;
	padding: 10px;
}
form .ostk-form-content ul li {
	padding: 10px;
	overflow: hidden;
	list-style: none;
}
form .ostk-form-content ul li p {
	margin: 0;
}
form .ostk-form-content ul li label {
	width: 140px;
	font-weight: bold;
	float: left;
	color: #666666;
}
form .ostk-form-content input[type='submit'] {
	margin-top: 20px;
}

/* Buttons 
---------------------------------*/
.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 5px 20px;
	background: #c80f2e;
    border: none;
    color: #fff;
    cursor: pointer;    
    outline: none;
}
.btn:hover,
.btn.active {
    background: #690818;
}

/* Output
---------------------------------*/
.embed-output {
	display: none;
}
.embed-output .embed-code {
	background: grey;	
	padding: 5px;
	color: white;
}
.embed-output .embed-sandbox {
	padding: 10px 0;
}

