@font-face {
    font-family: helvetica-neue-bold;
    src: url(../fonts/helvetica-neue-bold.ttf);
}

.ostk-error {
  color: @primary;
  * {
    font-family: Helvetica, Arial, sans-serif;
  }
}
.ostk-loader {
  @import "reset.less";
  background: rgba(255, 255, 255, .6);
  padding: 10px;
  .border-radius(10px);
  display: block;
  margin: 10px auto;
  max-width: 140px; 
  text-align: center;
  * {
    font-family: Helvetica, Arial, sans-serif;
  }
  img {
    display: block;
    margin: 10px auto;
    max-width: 125px;
  }    
  p {
    margin: 0;
  }
}

.ostk-element,
#main .ostk-element,
#sidebar .ostk-element {
  /*
  The "#main" and "#sidebar" is being used to make sure that the ostk styles have enough specificity to maintain ostk styles even in custom Wordpress themes. Id's are being used to add specificity instead of using important on every item. If important or other id's end up being needed, this may be motified.
  */
  /*----------------------------- Global for All Short Code Elements -----------------------------*/
  background: @white;
  @import "reset.less";
  position: relative;
  overflow: hidden;
  * {
    font-family: helvetica-neue-bold, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
  }
  .ostk-element-inner {
    border: solid 2px @primary;
    position: relative;
    height: 100%;
    .border-radius(8px);
    a {
      text-decoration: none;
      outline: 0;
      .box-shadow (none);
      &:focus {
        outline: 0;
      }
    }
    p {
      color: @black;
    }
    img {
      max-width: 100%;
    }
    .branding {
      background: @primary;    
      padding: 5px 0;
      img {
        margin: 0 auto;
        display: block;
      }
    }
    .ostk-element-content {
      padding: 10px;
      position: relative;
      .border-radius(2px);
      overflow: hidden;
      p {
        font-size: 16px;
        margin: 0;
        &.title {
          color: @primary;
        }
        &.price {
          color: @grey-dk;
        }
      }
    }
    .element-overlay {
      background-color: rgba(255, 255, 255, .9);
      position: absolute;    
      bottom: 0;
      width: 100%;
      .opacity(0);
      padding: 10px;
      .transition(all linear 500ms);
      img {
        width: auto; 
        &.ostk-logo {
          float: right;
        }
      }
      p {
        font-size: 16px;
        margin: 0 0 5px 0;
        &.title {
          font-weight: bold;
          color: @primary;
        }
      }
    }
  }/* .ostk-element-inner */

  /*----------------------------- Sales Event -----------------------------*/
  &.sales-event {
    .ostk-element-inner {
      .ostk-element-content {
        .product-info {
          p {
            &.title {
              font-size: 16px;
              border-bottom: solid 1px @grey-lt;
              margin-bottom: 5px;
              padding-bottom: 5px;
              color: @black;
              .truncate;
            }
            &.price {
              color: @primary;
              font-size: 18px;
            }
            &.savings {
              color: @grey;
              font-size: 18px;
            }
          }
        }
      }
    }
  }/* salse-event */

  /*----------------------------- Flash Deals -----------------------------*/
  &.flash-deals {
    .ostk-element-inner {
      background: @flash-deal-yellow;
      .border-radius(0px);
      border: 2px solid @grey-lt;
      .dealEndTime {
        p {
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          margin: 0;
        }
        span {
          font-size: 10px;
        }
        .single-line {
          p {
            line-height: 30px;          
          }
        }
        .double-line {
          margin: 10px 0;
          p.bottom-line {
            font-size: 10px;
            span {
              line-height: 10px;
              margin: 0 7px;
            }
          }
        }
      }
      .branding {
        background: @white;
        img {
          width: 170px;
        }
      }
      .ostk-element-header {
        background: @white;
      }
      .ostk-element-content {
        background: @white;
        .border-radius(5px);
        border: solid 1px @grey-lt;
        margin: 0px 10px 10px 10px;
      }
      .ostk-element-footer {
        background: @white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid @grey-lt;
        .branding {
          img {
            width: 100px;
          }
        }
      }
    }
  }/* flash-deals */

  /*----------------------------- Pattern 1 - search -----------------------------*/
  &.ostk-search {
  }/* .ostk-search  */

  /*----------------------------- Pattern 2 - link -----------------------------*/
  &.ostk-link {
  }/* .ostk-link  */

  /*----------------------------- Pattern 3 - rectangle -----------------------------*/
  &.ostk-rectangle {
    /* Default
    -----------------------------------*/
    .ostk-element-inner {
      &:hover {
        .element-overlay {
          .opacity(1);
        }
      }
    }/* .ostk-element-inner */

    /* Sales Events
    -----------------------------------*/
    &.sales-event {
      width: 300px;
      height: 250px;
      .ostk-element-inner {
        .ostk-element-header {
          border-bottom: 1px solid @grey-lt;
        }
        .ostk-element-content {
          height: 135px;
          .product-image {
            float: left;
            width: 90px;
          }
          .product-info {
            float: right;
            width: 150px;
            margin-top: 10px;
          }
        }
      }/* .ostk-element-inner */
    }/* sales-event */
  }/* .ostk-rectangle  */

  /*----------------------------- Pattern 4 - leaderboard -----------------------------*/
  &.ostk-leaderboard {
    width: 728px;
    height: 90px;
    .ostk-element-inner {
      width: 728px;
      height: 90px;
      position: relative;
      border: solid 2px @primary;
      .border-radius(8px);
      .item-holder {
        margin-right: 150px;
        &.item-count-2 {
          .ostk-element-content {
            width: 50%;  
            float: left;
          }
        }
        .ostk-element-content {
          padding: 7px 0px;
          p {
            text-align: left;
            &.title {
              .truncate;
            }
            &.description {
              .truncate;
              font-size: 12px;
            }
          }
          img.product-image {
            padding: 5px;
            float: left;
            margin: 0;
            max-height: 70px;
          }
        }
      }
      .branding {
        .border-radius(0px 6px 6px 0px);
        position: absolute;
        right: 0;
        width: 130px;          
        padding: 30px 0;
      }
    }/* .ostk-element-inner */
  }/* .ostk-leaderboard  */

  /*----------------------------- Pattern 5 - skyscraper -----------------------------*/
  &.ostk-skyscraper {
    /* Default
    -----------------------------------*/
    .ostk-element-inner {
      .ostk-element-content {
        p {
          text-align: center;
        }
        img {
          display: block;
          margin: 0 auto 10px auto;
          max-width: 100%;
        }
      }
    }/* .ostk-element-inner */

    /* Sales Event
    -----------------------------------*/
    &.sales-event {
      width: 160px;
      height: 600px;
      .ostk-element-inner {
        p {
          &.dealEndTime {
            margin-bottom: 15px;
          }
        }
        .ostk-element-content {
          p {
            text-align: left;
          }
        }
      }/* .ostk-element-inner */
    }/* sales-event */
  }/* .ostk-skyscraper  */

  /*----------------------------- Pattern 6 - carousel -----------------------------*/
  &.ostk-carousel {
    .ostk-element-inner {
      position: relative;
      &.mobile-size {
        .ostk-flexslider {
          padding: 30px;
        }
      }
      .ostk-flexslider {
        &:hover {
          .element-overlay {
            .opacity(1);
          }
        }
        a {
          text-decoration: none;
        }
        ul.slides {
          margin: 0;
          li {
            position: relative;
            .ostk-element-content {
              padding: 0;
              img {
                width: 100%;
                .border-radius(2px);
              }      
            }
          }      
        }
      }/* flexslider */
      .element-overlay {
        p {
          text-align: center;
        }
        img {
          width: auto; 
          &.ostk-rating {
            margin: 0 auto 5px auto;
            display: block;
          }     
        }     
      }
      /* Arrows */
      .ostk-arrow {
          outline: none;
          height: 25px;
          width: 25px;
          i {
            text-align: center;
            width: 100%;
            line-height: 25px;
            font-size: 20px;
            color: @grey;
          }
      }
      /* Arrows Navigation */
      .custom-navigation {
        a {
          text-decoration: none;
          &.flex-prev {
            float: left;
          }
          &.flex-next {
            float: right;
          }
        }
        .flex-control-thumbs {
          margin: 0;
        }
      }/* custom-navigation */
      &.mobile-size {
        /* Arrows Navigation */
        .custom-navigation {
          a {
            position: absolute;
            top: 50%;
            &.flex-prev {
              left: 0;
            }
            &.flex-next {
              right: 0;
            }
          }
          .ostk-arrow {
            padding: 5px;
            i {
              color: @primary;
            }
          }

          /* Thumbail Navigation */
          .custom-controls-container {
            display: none;
          }/* .custom-controls-container */
        }/* .custom-navigation */
      }
      &.desktop-size {
        /* Arrows Navigation */
        .custom-navigation {
          max-width: 430px;
          margin: 10px auto 0 auto;
          &.count-4 {
            max-width: 360px;
          }
          &.count-3 {
            max-width: 280px;
          }
          &.count-2 {
            max-width: 210px;
          }
          a {
            border: solid 1px lighten(@grey, 20%);
            .border-radius(2px);
            background: lighten(@grey-lt, 20%);
            margin-top: 5px;
            .ostk-arrow {
              margin: 20px 0;
            }
            &:hover {
              background: lighten(@grey-lt, 30%);
            }
          }
          /* Thumbail Navigation */
          .custom-controls-container {
            display: table;
            margin: 0 auto;
            ol {
              list-style: none;
              li {
                display: table-cell; 
                padding: 5px;
                width: auto;
                display: none;
                list-style: none;
                img {
                  .border-radius(2px);
                  border: solid 1px grey;
                  width: 65px;
                  height: 65px;
                  &.flex-active {
                    border: solid 1px @primary;
                  }
                }
              }
            }
            ul.flex-direction-nav {
              list-style: none;
              li {
                list-style: none;              
              }
            }
          }/* .custom-controls-container */
        }/* custom-navigation */
      }/* .ostk-carousel.desktop-size */
    }/* .ostk-element-inner */
  }/* .ostk-carousel */

  /*----------------------------- Pattern 7 - stock photo -----------------------------*/
  &.ostk-stock-photo {
    .ostk-element-inner {
      &:hover {
        .element-overlay {
          .opacity(1);
        }
      }
      &.image-small {
        width: 200px;
      }
      &.image-medium {
        width: 400px;
      }
      &.img-large {
        width: 600px;
      }
      .ostk-element-content {
      }
      .element-overlay {
        background-color: rgba(255, 255, 255, .9);
        position: absolute;    
        bottom: 0;
        width: 100%;
        .opacity(0);
        .transition(all linear 500ms);
      }
    }/* .ostk-element-inner */
  }/* .ostk-stock-photo */

  /*----------------------------- Pattern 8 - product link -----------------------------*/
  &.ostk-product-link {
  }/* .ostk-product-link */
}
