/*----------------------------- WP Plugin Generator Page -----------------------------*/
.ostk-generator-page {
	form {
	    label {
	        width: 140px;
	        font-weight: bold;
	        float: left;
        	margin: 0
        }
	}/* form */

	.ostk-form-content {
		ul {
			li {
				margin-top: 20px;
			}
		}
	}/* ostk-form-content */

	.optional-objects {
		margin-left: 60px;
		label {
			width: auto;
			margin-right: 20px;
		}
	}/* optional-objects */

	.embed-output {
		display: none;
		code {
			margin-bottom: 40px;
		}
	}/* embed-output */
}