/* Widths */
@width-sm: 400px;
@width-lg: 1024px;

/* Colors */
@primary: #c80f2e;
@primary-lt: lighten(@primary, 20%);
@primary-dk: darken(@primary, 20%);

@grey: #7b7b7b;
@grey-lt: #aaaaaa;
@grey-dk: #444444;

@white: #FFFFFF;
@black: #000000;
@green: #007B17;
@orange: #D53805;