/* Less Variable */
@font-face {
  font-family: helvetica-neue-bold;
  src: url(../fonts/helvetica-neue-bold.ttf);
}
@font-face {
  font-family: helvetica-neue;
  src: url(../fonts/helvetica-neue.ttf);
}
@font-face {
  font-family: helvetica-neue-thin;
  src: url(../fonts/helvetica-neue-thin.otf);
}
/* Widths */
/* Colors */
/* Fonts */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* API Embed Styles */
.ostk-error {
  color: #c80f2e;
}
.ostk-error * {
  font-family: helvetica-neue-bold;
}
.ostk-loader {
  /**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  max-width: 140px;
  text-align: center;
}
.ostk-loader html,
.ostk-loader body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.ostk-loader div,
.ostk-loader span,
.ostk-loader object,
.ostk-loader iframe,
.ostk-loader img,
.ostk-loader table,
.ostk-loader caption,
.ostk-loader thead,
.ostk-loader tbody,
.ostk-loader tfoot,
.ostk-loader tr,
.ostk-loader tr,
.ostk-loader td,
.ostk-loader article,
.ostk-loader aside,
.ostk-loader canvas,
.ostk-loader details,
.ostk-loader figure,
.ostk-loader hgroup,
.ostk-loader menu,
.ostk-loader nav,
.ostk-loader footer,
.ostk-loader header,
.ostk-loader section,
.ostk-loader summary,
.ostk-loader mark,
.ostk-loader audio,
.ostk-loader video {
  border: 0;
  margin: 0;
  padding: 0;
}
.ostk-loader h1,
.ostk-loader h2,
.ostk-loader h3,
.ostk-loader h4,
.ostk-loader h5,
.ostk-loader h6,
.ostk-loader p,
.ostk-loader blockquote,
.ostk-loader pre,
.ostk-loader a,
.ostk-loader abbr,
.ostk-loader address,
.ostk-loader cit,
.ostk-loader code,
.ostk-loader del,
.ostk-loader dfn,
.ostk-loader em,
.ostk-loader ins,
.ostk-loader q,
.ostk-loader samp,
.ostk-loader small,
.ostk-loader strong,
.ostk-loader sub,
.ostk-loader sup,
.ostk-loader b,
.ostk-loader i,
.ostk-loader hr,
.ostk-loader dl,
.ostk-loader dt,
.ostk-loader dd,
.ostk-loader ol,
.ostk-loader ul,
.ostk-loader li,
.ostk-loader fieldset,
.ostk-loader legend,
.ostk-loader label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
.ostk-loader article,
.ostk-loader aside,
.ostk-loader canvas,
.ostk-loader figure,
.ostk-loader figure img,
.ostk-loader figcaption,
.ostk-loader hgroup,
.ostk-loader footer,
.ostk-loader header,
.ostk-loader nav,
.ostk-loader section,
.ostk-loader audio,
.ostk-loader video {
  display: block;
}
.ostk-loader table {
  border-collapse: separate;
  border-spacing: 0;
}
.ostk-loader table caption,
.ostk-loader table th,
.ostk-loader table td {
  text-align: left;
  vertical-align: middle;
}
.ostk-loader a img {
  border: 0;
}
.ostk-loader :focus {
  outline: 0;
}
.ostk-loader * {
  font-family: helvetica-neue-bold;
}
.ostk-loader img {
  display: block;
  margin: 10px auto;
  max-width: 125px;
}
.ostk-loader p {
  margin: 0;
}
.ostk-element,
#main .ostk-element,
#sidebar .ostk-element {
  /*
  The "#main" and "#sidebar" is being used to make sure that the ostk styles have enough specificity to maintain ostk styles even in custom Wordpress themes. Id's are being used to add specificity instead of using important on every item. If important or other id's end up being needed, this may be motified.
  */
  /*----------------------------- Global for All Short Code Elements -----------------------------*/
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
  transform-origin: 0 0;
  /* Import Widget */
  /*----------------------------- Widget -----------------------------*/
  /* .ostk-element-inner */
  /* Import Sales Events */
  /*----------------------------- Sales Event -----------------------------*/
  /* salse-event */
  /*----------------------------- Flash Deals -----------------------------*/
  /* flash-deals */
  /*----------------------------- Sales and Promotions -----------------------------*/
  /* sales and promotions */
  /* Import Widgets */
  /*----------------------------- Carousel -----------------------------*/
  /* .ostk-carousel */
  /*----------------------------- Leaderboard -----------------------------*/
  /* .ostk-leaderboard  */
  /*----------------------------- Rectangle -----------------------------*/
  /* .ostk-rectangle  */
  /*----------------------------- Skyscraper -----------------------------*/
  /* .ostk-skyscraper  */
  /*----------------------------- Stockphoto -----------------------------*/
  /* .ostk-stock-photo */
}
.ostk-element *,
#main .ostk-element *,
#sidebar .ostk-element * {
  font-family: helvetica-neue-bold;
  box-sizing: border-box;
}
.ostk-element .ostk-element-inner,
#main .ostk-element .ostk-element-inner,
#sidebar .ostk-element .ostk-element-inner {
  border: solid 1px #c80f2e;
  position: relative;
  overflow: hidden;
  height: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.ostk-element .ostk-element-inner a,
#main .ostk-element .ostk-element-inner a,
#sidebar .ostk-element .ostk-element-inner a {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ostk-element .ostk-element-inner a:focus,
#main .ostk-element .ostk-element-inner a:focus,
#sidebar .ostk-element .ostk-element-inner a:focus {
  outline: 0;
}
.ostk-element .ostk-element-inner p,
#main .ostk-element .ostk-element-inner p,
#sidebar .ostk-element .ostk-element-inner p {
  color: #000000;
}
.ostk-element .ostk-element-inner img,
#main .ostk-element .ostk-element-inner img,
#sidebar .ostk-element .ostk-element-inner img {
  max-width: 100%;
}
.ostk-element .ostk-element-inner .branding,
#main .ostk-element .ostk-element-inner .branding,
#sidebar .ostk-element .ostk-element-inner .branding {
  background: #c80f2e;
  padding: 5px 0;
}
.ostk-element .ostk-element-inner .branding img,
#main .ostk-element .ostk-element-inner .branding img,
#sidebar .ostk-element .ostk-element-inner .branding img {
  margin: 0 auto;
  display: block;
}
.ostk-element .ostk-element-inner .ostk-element-content,
#main .ostk-element .ostk-element-inner .ostk-element-content,
#sidebar .ostk-element .ostk-element-inner .ostk-element-content {
  padding: 10px;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
}
.ostk-element .ostk-element-inner .ostk-element-content p,
#main .ostk-element .ostk-element-inner .ostk-element-content p,
#sidebar .ostk-element .ostk-element-inner .ostk-element-content p {
  font-size: 16px;
  margin: 0;
}
.ostk-element .ostk-element-inner .ostk-element-content p.title,
#main .ostk-element .ostk-element-inner .ostk-element-content p.title,
#sidebar .ostk-element .ostk-element-inner .ostk-element-content p.title {
  color: #c80f2e;
}
.ostk-element .ostk-element-inner .ostk-element-content p.price,
#main .ostk-element .ostk-element-inner .ostk-element-content p.price,
#sidebar .ostk-element .ostk-element-inner .ostk-element-content p.price {
  color: #444444;
}
.ostk-element .ostk-element-inner .element-overlay,
#main .ostk-element .ostk-element-inner .element-overlay,
#sidebar .ostk-element .ostk-element-inner .element-overlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  padding: 10px;
  -webkit-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
  -ms-transition: all linear 500ms;
  -o-transition: all linear 500ms;
  transition: all linear 500ms;
}
.ostk-element .ostk-element-inner .element-overlay img,
#main .ostk-element .ostk-element-inner .element-overlay img,
#sidebar .ostk-element .ostk-element-inner .element-overlay img {
  width: auto;
}
.ostk-element .ostk-element-inner .element-overlay img.ostk-logo,
#main .ostk-element .ostk-element-inner .element-overlay img.ostk-logo,
#sidebar .ostk-element .ostk-element-inner .element-overlay img.ostk-logo {
  float: right;
}
.ostk-element .ostk-element-inner .element-overlay p,
#main .ostk-element .ostk-element-inner .element-overlay p,
#sidebar .ostk-element .ostk-element-inner .element-overlay p {
  font-size: 16px;
  margin: 0 0 5px 0;
}
.ostk-element .ostk-element-inner .element-overlay p.title,
#main .ostk-element .ostk-element-inner .element-overlay p.title,
#sidebar .ostk-element .ostk-element-inner .element-overlay p.title {
  font-weight: bold;
  color: #c80f2e;
}
.ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info,
#main .ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info,
#sidebar .ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info {
  padding-right: 10px;
}
.ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.title,
#main .ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.title,
#sidebar .ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.title {
  font-size: 16px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px #aaaaaa;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.description,
#main .ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.description,
#sidebar .ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.description {
  font-family: helvetica-neue-thin;
}
.ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.price,
#main .ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.price,
#sidebar .ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.price {
  color: #c80f2e;
  font-size: 18px;
}
.ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.savings,
#main .ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.savings,
#sidebar .ostk-element.sales-event .ostk-element-inner .ostk-element-content .product-info p.savings {
  color: #7b7b7b;
  font-size: 18px;
}
.ostk-element.flash-deals .ostk-element-inner,
#main .ostk-element.flash-deals .ostk-element-inner,
#sidebar .ostk-element.flash-deals .ostk-element-inner {
  background: #f8c300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #aaaaaa;
}
.ostk-element.flash-deals .ostk-element-inner .dealEndTime p,
#main .ostk-element.flash-deals .ostk-element-inner .dealEndTime p,
#sidebar .ostk-element.flash-deals .ostk-element-inner .dealEndTime p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.ostk-element.flash-deals .ostk-element-inner .dealEndTime span,
#main .ostk-element.flash-deals .ostk-element-inner .dealEndTime span,
#sidebar .ostk-element.flash-deals .ostk-element-inner .dealEndTime span {
  font-size: 10px;
}
.ostk-element.flash-deals .ostk-element-inner .dealEndTime .single-line p,
#main .ostk-element.flash-deals .ostk-element-inner .dealEndTime .single-line p,
#sidebar .ostk-element.flash-deals .ostk-element-inner .dealEndTime .single-line p {
  line-height: 30px;
}
.ostk-element.flash-deals .ostk-element-inner .dealEndTime .double-line,
#main .ostk-element.flash-deals .ostk-element-inner .dealEndTime .double-line,
#sidebar .ostk-element.flash-deals .ostk-element-inner .dealEndTime .double-line {
  margin: 10px 0;
}
.ostk-element.flash-deals .ostk-element-inner .dealEndTime .double-line p.bottom-line,
#main .ostk-element.flash-deals .ostk-element-inner .dealEndTime .double-line p.bottom-line,
#sidebar .ostk-element.flash-deals .ostk-element-inner .dealEndTime .double-line p.bottom-line {
  font-size: 10px;
}
.ostk-element.flash-deals .ostk-element-inner .dealEndTime .double-line p.bottom-line span,
#main .ostk-element.flash-deals .ostk-element-inner .dealEndTime .double-line p.bottom-line span,
#sidebar .ostk-element.flash-deals .ostk-element-inner .dealEndTime .double-line p.bottom-line span {
  line-height: 10px;
  margin: 0 7px;
}
.ostk-element.flash-deals .ostk-element-inner .branding,
#main .ostk-element.flash-deals .ostk-element-inner .branding,
#sidebar .ostk-element.flash-deals .ostk-element-inner .branding {
  background: #FFFFFF;
}
.ostk-element.flash-deals .ostk-element-inner .branding img,
#main .ostk-element.flash-deals .ostk-element-inner .branding img,
#sidebar .ostk-element.flash-deals .ostk-element-inner .branding img {
  width: 170px;
}
.ostk-element.flash-deals .ostk-element-inner .ostk-element-header,
#main .ostk-element.flash-deals .ostk-element-inner .ostk-element-header,
#sidebar .ostk-element.flash-deals .ostk-element-inner .ostk-element-header {
  background: #FFFFFF;
}
.ostk-element.flash-deals .ostk-element-inner .ostk-element-content,
#main .ostk-element.flash-deals .ostk-element-inner .ostk-element-content,
#sidebar .ostk-element.flash-deals .ostk-element-inner .ostk-element-content {
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #aaaaaa;
  margin: 0px 10px 10px 10px;
}
.ostk-element.flash-deals .ostk-element-inner .ostk-element-footer,
#main .ostk-element.flash-deals .ostk-element-inner .ostk-element-footer,
#sidebar .ostk-element.flash-deals .ostk-element-inner .ostk-element-footer {
  background: #FFFFFF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #aaaaaa;
}
.ostk-element.flash-deals .ostk-element-inner .ostk-element-footer .branding img,
#main .ostk-element.flash-deals .ostk-element-inner .ostk-element-footer .branding img,
#sidebar .ostk-element.flash-deals .ostk-element-inner .ostk-element-footer .branding img {
  width: 100px;
}
.ostk-element.sales .ostk-element-inner,
#main .ostk-element.sales .ostk-element-inner,
#sidebar .ostk-element.sales .ostk-element-inner,
.ostk-element.promotions .ostk-element-inner,
#main .ostk-element.promotions .ostk-element-inner,
#sidebar .ostk-element.promotions .ostk-element-inner {
  background: #c80f2e;
}
.ostk-element.sales .ostk-element-inner .ostk-element-content,
#main .ostk-element.sales .ostk-element-inner .ostk-element-content,
#sidebar .ostk-element.sales .ostk-element-inner .ostk-element-content,
.ostk-element.promotions .ostk-element-inner .ostk-element-content,
#main .ostk-element.promotions .ostk-element-inner .ostk-element-content,
#sidebar .ostk-element.promotions .ostk-element-inner .ostk-element-content {
  background: #FFFFFF;
}
.ostk-element.sales .ostk-element-inner .ostk-element-content .product-info p.savings,
#main .ostk-element.sales .ostk-element-inner .ostk-element-content .product-info p.savings,
#sidebar .ostk-element.sales .ostk-element-inner .ostk-element-content .product-info p.savings,
.ostk-element.promotions .ostk-element-inner .ostk-element-content .product-info p.savings,
#main .ostk-element.promotions .ostk-element-inner .ostk-element-content .product-info p.savings,
#sidebar .ostk-element.promotions .ostk-element-inner .ostk-element-content .product-info p.savings {
  font-size: 30px;
  color: #c80f2e;
}
.ostk-element.ostk-carousel,
#main .ostk-element.ostk-carousel,
#sidebar .ostk-element.ostk-carousel {
  /* .ostk-element-inner */
}
.ostk-element.ostk-carousel .ostk-element-inner,
#main .ostk-element.ostk-carousel .ostk-element-inner,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner {
  position: relative;
  border: none;
  /* flexslider */
  /* Arrows */
  /* Arrows Navigation */
  /* custom-navigation */
  /* .ostk-carousel.desktop-size */
}
.ostk-element.ostk-carousel .ostk-element-inner.mobile-size .ostk-flexslider,
#main .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .ostk-flexslider,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .ostk-flexslider {
  padding: 30px;
}
.ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider:hover .element-overlay,
#main .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider:hover .element-overlay,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider:hover .element-overlay {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider a,
#main .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider a,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider a {
  text-decoration: none;
}
.ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides,
#main .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides {
  margin: 0;
}
.ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides li,
#main .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides li,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides li {
  position: relative;
}
.ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides li .ostk-element-content,
#main .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides li .ostk-element-content,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides li .ostk-element-content {
  padding: 0;
}
.ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides li .ostk-element-content img,
#main .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides li .ostk-element-content img,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .ostk-flexslider ul.slides li .ostk-element-content img {
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.ostk-element.ostk-carousel .ostk-element-inner .element-overlay p,
#main .ostk-element.ostk-carousel .ostk-element-inner .element-overlay p,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .element-overlay p {
  text-align: center;
}
.ostk-element.ostk-carousel .ostk-element-inner .element-overlay img,
#main .ostk-element.ostk-carousel .ostk-element-inner .element-overlay img,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .element-overlay img {
  width: auto;
}
.ostk-element.ostk-carousel .ostk-element-inner .element-overlay img.ostk-rating,
#main .ostk-element.ostk-carousel .ostk-element-inner .element-overlay img.ostk-rating,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .element-overlay img.ostk-rating {
  margin: 0 auto 5px auto;
  display: block;
}
.ostk-element.ostk-carousel .ostk-element-inner .ostk-arrow,
#main .ostk-element.ostk-carousel .ostk-element-inner .ostk-arrow,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .ostk-arrow {
  outline: none;
  height: 25px;
  width: 25px;
}
.ostk-element.ostk-carousel .ostk-element-inner .ostk-arrow i,
#main .ostk-element.ostk-carousel .ostk-element-inner .ostk-arrow i,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .ostk-arrow i {
  text-align: center;
  width: 100%;
  line-height: 25px;
  font-size: 20px;
  color: #7b7b7b;
}
.ostk-element.ostk-carousel .ostk-element-inner .custom-navigation a,
#main .ostk-element.ostk-carousel .ostk-element-inner .custom-navigation a,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .custom-navigation a {
  text-decoration: none;
}
.ostk-element.ostk-carousel .ostk-element-inner .custom-navigation a.flex-prev,
#main .ostk-element.ostk-carousel .ostk-element-inner .custom-navigation a.flex-prev,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .custom-navigation a.flex-prev {
  float: left;
}
.ostk-element.ostk-carousel .ostk-element-inner .custom-navigation a.flex-next,
#main .ostk-element.ostk-carousel .ostk-element-inner .custom-navigation a.flex-next,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .custom-navigation a.flex-next {
  float: right;
}
.ostk-element.ostk-carousel .ostk-element-inner .custom-navigation .flex-control-thumbs,
#main .ostk-element.ostk-carousel .ostk-element-inner .custom-navigation .flex-control-thumbs,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner .custom-navigation .flex-control-thumbs {
  margin: 0;
}
.ostk-element.ostk-carousel .ostk-element-inner.mobile-size,
#main .ostk-element.ostk-carousel .ostk-element-inner.mobile-size,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.mobile-size {
  /* Arrows Navigation */
  /* .custom-navigation */
}
.ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation,
#main .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation {
  /* Thumbail Navigation */
  /* .custom-controls-container */
}
.ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation a,
#main .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation a,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation a {
  position: absolute;
  top: 50%;
}
.ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation a.flex-prev,
#main .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation a.flex-prev,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation a.flex-prev {
  left: 0;
}
.ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation a.flex-next,
#main .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation a.flex-next,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation a.flex-next {
  right: 0;
}
.ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation .ostk-arrow,
#main .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation .ostk-arrow,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation .ostk-arrow {
  padding: 5px;
}
.ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation .ostk-arrow i,
#main .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation .ostk-arrow i,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation .ostk-arrow i {
  color: #c80f2e;
}
.ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation .custom-controls-container,
#main .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation .custom-controls-container,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.mobile-size .custom-navigation .custom-controls-container {
  display: none;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size {
  /* Arrows Navigation */
  /* custom-navigation */
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation {
  max-width: 430px;
  margin: 10px auto 0 auto;
  /* Thumbail Navigation */
  /* .custom-controls-container */
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation.count-4,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation.count-4,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation.count-4 {
  max-width: 360px;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation.count-3,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation.count-3,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation.count-3 {
  max-width: 280px;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation.count-2,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation.count-2,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation.count-2 {
  max-width: 210px;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation a,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation a,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation a {
  border: solid 1px #aeaeae;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #dddddd;
  margin-top: 5px;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation a .ostk-arrow,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation a .ostk-arrow,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation a .ostk-arrow {
  margin: 20px 0;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation a:hover,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation a:hover,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation a:hover {
  background: #f6f6f6;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container {
  display: table;
  margin: 0 auto;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol {
  list-style: none;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol li,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol li,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol li {
  display: table-cell;
  padding: 5px;
  width: auto;
  display: none;
  list-style: none;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol li img,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol li img,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol li img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px grey;
  width: 65px;
  height: 65px;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol li img.flex-active,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol li img.flex-active,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ol li img.flex-active {
  border: solid 1px #c80f2e;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ul.flex-direction-nav,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ul.flex-direction-nav,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ul.flex-direction-nav {
  list-style: none;
}
.ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ul.flex-direction-nav li,
#main .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ul.flex-direction-nav li,
#sidebar .ostk-element.ostk-carousel .ostk-element-inner.desktop-size .custom-navigation .custom-controls-container ul.flex-direction-nav li {
  list-style: none;
}
.ostk-element.ostk-leaderboard,
#main .ostk-element.ostk-leaderboard,
#sidebar .ostk-element.ostk-leaderboard {
  width: 728px;
  height: 90px;
  /* .ostk-element-inner */
  /* Sales Event
  -----------------------------------*/
  /* Version == Standard
  -----------------------------------*/
  /* flash deals */
  /* Version == Mini
  -----------------------------------*/
  /* mini */
  /* Version == Mobile
  -----------------------------------*/
  /* mobile */
}
.ostk-element.ostk-leaderboard .ostk-element-inner,
#main .ostk-element.ostk-leaderboard .ostk-element-inner,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner {
  width: 728px;
  height: 90px;
  position: relative;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .item-holder,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder {
  margin-right: 150px;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .item-holder.item-count-2 .ostk-item,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder.item-count-2 .ostk-item,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder.item-count-2 .ostk-item {
  width: 50%;
  float: left;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content {
  padding: 7px 0px;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-info p,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-info p,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-info p {
  text-align: left;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-info p.title,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-info p.title,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-info p.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-info p.description,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-info p.description,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-info p.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-image,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-image,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .item-holder .ostk-element-content .product-image {
  padding: 5px;
  float: left;
  margin: 0;
  max-height: 70px;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-footer,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-footer,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-footer {
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  -webkit-border-radius: 0px 6px 6px 0px;
  -moz-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
  position: absolute;
  width: 130px;
  background: #c80f2e;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-footer .branding img,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-footer .branding img,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-footer .branding img {
  margin-top: 22px;
}
.ostk-element.ostk-leaderboard.sales-event .ostk-element-inner,
#main .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner,
#sidebar .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-content,
#main .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-content,
#sidebar .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-content {
  margin: 5px;
}
.ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer,
#main .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer,
#sidebar .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer {
  background: #FFFFFF;
  border: none;
  border-left: 1px solid #aaaaaa;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .branding,
#main .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .branding,
#sidebar .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .branding {
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .branding img,
#main .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .branding img,
#sidebar .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .branding img {
  display: block;
  margin: 0 auto;
}
.ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .dealEndTime .double-line,
#main .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .dealEndTime .double-line,
#sidebar .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .dealEndTime .double-line {
  margin: 0;
  line-height: 8px;
}
.ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .dealEndTime .double-line p,
#main .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .dealEndTime .double-line p,
#sidebar .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .dealEndTime .double-line p {
  font-size: 16px;
}
.ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .dealEndTime .double-line span,
#main .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .dealEndTime .double-line span,
#sidebar .ostk-element.ostk-leaderboard.sales-event .ostk-element-inner .ostk-element-footer .dealEndTime .double-line span {
  font-size: 8px;
  line-height: 8px;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content {
  height: 75px;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content .product-info p.title,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content .product-info p.title,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content .product-info p.title {
  font-size: 14px;
}
.ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content .product-info p.price,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content .product-info p.price,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content .product-info p.price,
.ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content .product-info p.savings,
#main .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content .product-info p.savings,
#sidebar .ostk-element.ostk-leaderboard .ostk-element-inner .ostk-element-content .product-info p.savings {
  font-size: 15px;
}
.ostk-element.ostk-leaderboard.flash-deals .ostk-element-footer .dealEndTime,
#main .ostk-element.ostk-leaderboard.flash-deals .ostk-element-footer .dealEndTime,
#sidebar .ostk-element.ostk-leaderboard.flash-deals .ostk-element-footer .dealEndTime {
  border-top: solid 1px #aaaaaa;
  border-bottom: solid 1px #aaaaaa;
}
.ostk-element.ostk-leaderboard.mini,
#main .ostk-element.ostk-leaderboard.mini,
#sidebar .ostk-element.ostk-leaderboard.mini {
  width: 498px;
  height: 60px;
  /* flash deals */
  /* sales and promotions */
}
.ostk-element.ostk-leaderboard.mini .ostk-element-inner,
#main .ostk-element.ostk-leaderboard.mini .ostk-element-inner,
#sidebar .ostk-element.ostk-leaderboard.mini .ostk-element-inner {
  width: 498px;
  height: 60px;
}
.ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content,
#main .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content,
#sidebar .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content {
  margin: 2px;
  height: 54px;
  width: 230px;
  float: left;
}
.ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.title,
#main .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.title,
#sidebar .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.title {
  font-size: 14px;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
.ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.price,
#main .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.price,
#sidebar .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.price {
  float: left;
  padding-right: 3px;
  margin-right: 3px;
}
.ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.price,
#main .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.price,
#sidebar .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.price,
.ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.savings,
#main .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.savings,
#sidebar .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-info p.savings {
  font-size: 13px;
  line-height: 13px;
}
.ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-image,
#main .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-image,
#sidebar .ostk-element.ostk-leaderboard.mini .ostk-element-inner .ostk-element-content .product-image {
  max-height: 40px;
}
.ostk-element.ostk-leaderboard.mini .ostk-element-inner .dealEndTime,
#main .ostk-element.ostk-leaderboard.mini .ostk-element-inner .dealEndTime,
#sidebar .ostk-element.ostk-leaderboard.mini .ostk-element-inner .dealEndTime {
  float: left;
  margin-left: 15px;
}
.ostk-element.ostk-leaderboard.mini.flash-deals .ostk-element-inner .ostk-element-footer .branding:first-child,
#main .ostk-element.ostk-leaderboard.mini.flash-deals .ostk-element-inner .ostk-element-footer .branding:first-child,
#sidebar .ostk-element.ostk-leaderboard.mini.flash-deals .ostk-element-inner .ostk-element-footer .branding:first-child {
  border-bottom: solid 1px #aaaaaa;
  margin-bottom: 2px;
}
.ostk-element.ostk-leaderboard.mini.sales .ostk-element-inner .ostk-element-content,
#main .ostk-element.ostk-leaderboard.mini.sales .ostk-element-inner .ostk-element-content,
#sidebar .ostk-element.ostk-leaderboard.mini.sales .ostk-element-inner .ostk-element-content,
.ostk-element.ostk-leaderboard.mini.promotions .ostk-element-inner .ostk-element-content,
#main .ostk-element.ostk-leaderboard.mini.promotions .ostk-element-inner .ostk-element-content,
#sidebar .ostk-element.ostk-leaderboard.mini.promotions .ostk-element-inner .ostk-element-content {
  width: 358px;
}
.ostk-element.ostk-leaderboard.mini.sales .ostk-element-inner .ostk-element-footer .branding img,
#main .ostk-element.ostk-leaderboard.mini.sales .ostk-element-inner .ostk-element-footer .branding img,
#sidebar .ostk-element.ostk-leaderboard.mini.sales .ostk-element-inner .ostk-element-footer .branding img,
.ostk-element.ostk-leaderboard.mini.promotions .ostk-element-inner .ostk-element-footer .branding img,
#main .ostk-element.ostk-leaderboard.mini.promotions .ostk-element-inner .ostk-element-footer .branding img,
#sidebar .ostk-element.ostk-leaderboard.mini.promotions .ostk-element-inner .ostk-element-footer .branding img {
  margin-top: 10px;
}
.ostk-element.ostk-leaderboard.mobile,
#main .ostk-element.ostk-leaderboard.mobile,
#sidebar .ostk-element.ostk-leaderboard.mobile {
  width: 320px;
  height: 50px;
}
.ostk-element.ostk-leaderboard.mobile .ostk-element-inner,
#main .ostk-element.ostk-leaderboard.mobile .ostk-element-inner,
#sidebar .ostk-element.ostk-leaderboard.mobile .ostk-element-inner {
  width: 320px;
  height: 50px;
}
.ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content,
#main .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content,
#sidebar .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content {
  padding: 0;
  margin: 2px;
  height: 40px;
  width: 180px;
}
.ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.title,
#main .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.title,
#sidebar .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.title {
  font-size: 12px;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
.ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.price,
#main .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.price,
#sidebar .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.price {
  float: left;
  padding-right: 3px;
  margin-right: 3px;
}
.ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.price,
#main .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.price,
#sidebar .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.price,
.ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.savings,
#main .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.savings,
#sidebar .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-info p.savings {
  font-size: 13px;
  line-height: 13px;
}
.ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-image,
#main .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-image,
#sidebar .ostk-element.ostk-leaderboard.mobile .ostk-element-inner .ostk-element-content .product-image {
  max-height: 40px;
}
.ostk-element.ostk-rectangle,
#main .ostk-element.ostk-rectangle,
#sidebar .ostk-element.ostk-rectangle {
  /* Default
  -----------------------------------*/
  /* .ostk-element-inner */
  /* Sales Events
  -----------------------------------*/
  /* sales-event */
}
.ostk-element.ostk-rectangle .ostk-element-inner:hover .element-overlay,
#main .ostk-element.ostk-rectangle .ostk-element-inner:hover .element-overlay,
#sidebar .ostk-element.ostk-rectangle .ostk-element-inner:hover .element-overlay {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.ostk-element.ostk-rectangle.sales-event,
#main .ostk-element.ostk-rectangle.sales-event,
#sidebar .ostk-element.ostk-rectangle.sales-event {
  width: 300px;
  height: 250px;
  /* .ostk-element-inner */
}
.ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-header,
#main .ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-header,
#sidebar .ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-header {
  border-bottom: 1px solid #aaaaaa;
}
.ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-content .product-image,
#main .ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-content .product-image,
#sidebar .ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-content .product-image {
  float: left;
  width: 110px;
  margin-top: 30px;
}
.ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-content .product-info,
#main .ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-content .product-info,
#sidebar .ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-content .product-info {
  float: right;
  width: 140px;
  margin-top: 10px;
}
.ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-content .product-info p.savings,
#main .ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-content .product-info p.savings,
#sidebar .ostk-element.ostk-rectangle.sales-event .ostk-element-inner .ostk-element-content .product-info p.savings {
  margin-top: 15px;
}
.ostk-element.ostk-rectangle.flash-deals .ostk-element-inner .ostk-element-content .product-image,
#main .ostk-element.ostk-rectangle.flash-deals .ostk-element-inner .ostk-element-content .product-image,
#sidebar .ostk-element.ostk-rectangle.flash-deals .ostk-element-inner .ostk-element-content .product-image {
  margin: 0;
}
.ostk-element.ostk-rectangle.flash-deals .ostk-element-inner .ostk-element-content .product-info,
#main .ostk-element.ostk-rectangle.flash-deals .ostk-element-inner .ostk-element-content .product-info,
#sidebar .ostk-element.ostk-rectangle.flash-deals .ostk-element-inner .ostk-element-content .product-info {
  width: 130px;
}
.ostk-element.ostk-skyscraper,
#main .ostk-element.ostk-skyscraper,
#sidebar .ostk-element.ostk-skyscraper {
  /* Default
  -----------------------------------*/
  /* .ostk-element-inner */
  /* Sales Event
  -----------------------------------*/
  /* sales-event */
}
.ostk-element.ostk-skyscraper .ostk-element-inner .ostk-element-content p,
#main .ostk-element.ostk-skyscraper .ostk-element-inner .ostk-element-content p,
#sidebar .ostk-element.ostk-skyscraper .ostk-element-inner .ostk-element-content p {
  text-align: center;
}
.ostk-element.ostk-skyscraper .ostk-element-inner .ostk-element-content img,
#main .ostk-element.ostk-skyscraper .ostk-element-inner .ostk-element-content img,
#sidebar .ostk-element.ostk-skyscraper .ostk-element-inner .ostk-element-content img {
  display: block;
  margin: 0 auto 10px auto;
  max-width: 100%;
}
.ostk-element.ostk-skyscraper.sales-event,
#main .ostk-element.ostk-skyscraper.sales-event,
#sidebar .ostk-element.ostk-skyscraper.sales-event {
  width: 160px;
  height: 600px;
  /* .ostk-element-inner */
}
.ostk-element.ostk-skyscraper.sales-event .ostk-element-inner p.dealEndTime,
#main .ostk-element.ostk-skyscraper.sales-event .ostk-element-inner p.dealEndTime,
#sidebar .ostk-element.ostk-skyscraper.sales-event .ostk-element-inner p.dealEndTime {
  margin-bottom: 15px;
}
.ostk-element.ostk-stock-photo,
#main .ostk-element.ostk-stock-photo,
#sidebar .ostk-element.ostk-stock-photo {
  /* .ostk-element-inner */
}
.ostk-element.ostk-stock-photo .ostk-element-inner,
#main .ostk-element.ostk-stock-photo .ostk-element-inner,
#sidebar .ostk-element.ostk-stock-photo .ostk-element-inner {
  border: none;
}
.ostk-element.ostk-stock-photo .ostk-element-inner:hover .element-overlay,
#main .ostk-element.ostk-stock-photo .ostk-element-inner:hover .element-overlay,
#sidebar .ostk-element.ostk-stock-photo .ostk-element-inner:hover .element-overlay {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.ostk-element.ostk-stock-photo .ostk-element-inner.image-small,
#main .ostk-element.ostk-stock-photo .ostk-element-inner.image-small,
#sidebar .ostk-element.ostk-stock-photo .ostk-element-inner.image-small {
  width: 200px;
}
.ostk-element.ostk-stock-photo .ostk-element-inner.image-medium,
#main .ostk-element.ostk-stock-photo .ostk-element-inner.image-medium,
#sidebar .ostk-element.ostk-stock-photo .ostk-element-inner.image-medium {
  width: 400px;
}
.ostk-element.ostk-stock-photo .ostk-element-inner.img-large,
#main .ostk-element.ostk-stock-photo .ostk-element-inner.img-large,
#sidebar .ostk-element.ostk-stock-photo .ostk-element-inner.img-large {
  width: 600px;
}
.ostk-element.ostk-stock-photo .ostk-element-inner .ostk-element-content,
#main .ostk-element.ostk-stock-photo .ostk-element-inner .ostk-element-content,
#sidebar .ostk-element.ostk-stock-photo .ostk-element-inner .ostk-element-content {
  padding: 0;
}
.ostk-element.ostk-stock-photo .ostk-element-inner .element-overlay,
#main .ostk-element.ostk-stock-photo .ostk-element-inner .element-overlay,
#sidebar .ostk-element.ostk-stock-photo .ostk-element-inner .element-overlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
  -ms-transition: all linear 500ms;
  -o-transition: all linear 500ms;
  transition: all linear 500ms;
}
